<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
          package="com.ukriu.hyperunlocked.thememanager.overlay">
    <overlay 
        android:isStatic="true" 
        android:priority="9999" 
        android:targetPackage="com.android.thememanager"/>
    <application 
        android:extractNativeLibs="false" 
        android:hasCode="false" 
        android:label="ukriu!HyperUnlocked Themes Overlay"/>
</manifest>